
.appClose{
    margin-left: 5px;
    margin-top: -6.5px;
}
.serach_bar{
    /* border: 1px solid red; */
 background: #343443;
 border-radius: 7px;
 padding: 0.5%;
    
}
.hXHeeB{
    height: 100% !important;
}
.imHyBg {
    padding-top: 5px !important;
}

.drop_main{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 19px;

/* white */

color: #FFFFFF;
}
@media screen and (max-width: 690px){

 .bar_inp{
     width: 50% !important;
          /* border: 1px solid blue; */
 }
 .bar_drop{
    /* border: 1px solid blue !important; */
    width: 60% !important;
}

}
@media screen and (max-width: 580px){

    .bar_inp{
        width: 45% !important;
             /* border: 1px solid blue; */
    }
    .bar_drop{
       /* border: 1px solid blue !important; */
       width: 65% !important;
   }
   
   }

   @media screen and (max-width: 500px){
       .serach_bar{
           display: flex !important;
           flex-wrap: wrap !important;
       }

    .bar_inp{
        width: 100% !important;
             /* border: 1px solid blue; */
    }
    .bar_drop{
       /* border: 1px solid blue !important; */
       width: 100% !important;
       display: flex !important;
       justify-content: space-between !important;
   }
   
   }





.bar_inp{
    width: 60%;
    color:#ccccd0;
    /* border: 1px solid yellow */
}

.hHTkts{
    border: none !important;
    height: 100% !important;
    /* width: 22.25rem !important; */
}
.bar_drop{
    width: 56%;   
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid blue; */
}

.ui.menu{
    background: none !important;
    display: flex;

}


.ui.menu .item {
    color: white !important;
}

.ser_btn{

    width: 42%;
    height: 3rem;
    border: none;
    height: 100%;
    background: #A7E2F2;
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 19px;

/* Gray 1 */

color: #333333;
}

.search {
    display: flex;
    height: 3em;
    align-items: center;

  }

  input {
    flex: 1;
    width:100%;
    border: 0;
  }
  