
.nav_top_space{
  height: 5vh;
  /* border: 1px solid red; */
  background-color: #232330;
}
.navbar {
    background-color: #232330;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }
  
  .main-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.3);
  }
  
  .nav-logo {
    color: #51AFC2;
    align-items: center;
   /* margin-left: calc(100vw - .5%)!important; */
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }
  


  .nav-logo:hover{
      color:  #51AFC2 !important;
  }
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 7%;
  
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }


  .nav-links{
    color:  white !important;
  }
  .fa-code {
    margin-left: 1rem;
  }
  .spacing{
    margin-left: 49px;
  }
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
  }
  

.add_project{
    height: 3rem;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: black !important;
    border-radius: 40px;
    background-color: #A7E2F2;
    
    /* border: 1px solid red; */
}





  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  /* .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  } */
  
  .nav-item.active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  
  .nav-icon {
    display: none;
  }
  

  .hXHeeB{
    border: none !important;
  }
  
   @media screen and (width < 1707px) {
    .nav-logo{
      margin-left: 10.5%;
    }
 
  }
  @media screen and (width > 1540px) and (width<=1750px){
    .nav-logo{
      margin-left: 5.5%;
    }
 
  }
  

  @media screen and (width > 1920px) and (width<=2048px){
    .nav-logo{
      margin-left: -3.5%;
    }
 
  }
  @media screen and (width > 2048px) and (width<=2305px){
    .nav-logo{
      margin-left: -10.5%;
    }
 
  }
  @media screen and (max-width: 960px) {
    
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #1f5156;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color:  #51AFC2;
    }



    .add_project {
      color: black;
        width: 65%;
        border-radius: 60px;
        background-color: #51AFC2;
        /* border: 1px solid red; */
        margin: 0 auto;
    }
    
  }