 /* .scop-1{

   font-size: 2vw; */
 /* width:80% !important;
   border-collapse: separate !important;
border-spacing: 0 25px !important;
border-radius: 30px !important; */
 /* background-color:#95A5A6;
    font-size: 2vm;
    text-transform: uppercase;
    box-shadow: 7px 0px 10px 0px; */

 /* }  */
 tr:nth-child(even) {
    background: rgb(97, 60, 60)
 }

 tr:nth-child(odd) {
    background: rgb(73, 58, 58)
 }

 */ .tbltokens {
    width: 80% !important;
    border-collapse: separate !important;
    border-spacing: 0 25px !important;
    /* border-radius: 30px !important; */
 }

 @media only screen and (min-width: 394px) and (max-width: 428px) {

    .tbltokens {

       width: 40% !important;
       font-size: 2.4vw;

    }
 }

 @media only screen and (min-width: 330px) and (max-width: 393px) {

    .tbltokens {

       width: 60% !important;
       margin: 1% 2% 1% 3%;
       font-size: 1.3vw;
       padding-left: 20%;
    }
 }


 @media only screen and (max-width: 359px) {

    .tbltokens {

       width: 60% !important;
       margin: 1% -6.5% 1% 1%;
       font-size: 2.5vw;
       /* padding-left: 20%; */
       /* border: 1px solid red; */
    }
 }

 .tbltokens thead tr th {
    border: 0px;
    background-color: #3b5999;
    font-size: 1vw;

    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 25px 30px;
    /* box-shadow: 10px 0px 10px 0px; */
 }

 .tbltokens tbody tr {
    background-color: #f0e9e9;
 }

 .tbltokens tbody tr:nth-child(even) th {
    /* background: rgb(60, 61, 97); */
    background-color: #d1d9ec;
    color: #202020;
    /* text-align: center; */
 }

 .tbltokens tbody {
    color: #202020 !important;

 }

 .tbltokens tbody tr th {
    border: 0px;
    color: #1D1D26;
    /* border-radius: 15px 15px; */
    /* text-align: center; */
 }

 /* .tbltokens tbody tr th:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 }
 .tbltokens tbody tr th:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
 }
 .tbltokens thead tr th:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 }
 .tbltokens thead tr th:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
 } */