/* width */

.products_section{
  overflow-x: hidden !important;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.space_cat{
  margin-left: 10%;
}

.main_product{
  margin-right: 2%;
}
/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}
.dive_hide{
  /* width: 13%; */
}

.togle_btn{
  display:none ;
}

.dive_show{
  display: block;
}

@media screen and (max-width: 770px) and (min-width: 0px) {

  .togle_btn{
    display:block ;
  }

  .dive_hide{
    display: none;

  }
}


.ui.menu .dropdown.item .menu{
  background-color: #343443 !important;
}

.text{
  color: white !important;
}